/nbproject/private/
/dist/
/build/
/backend/IPeak_release/
*.pyc
*.swp
.DS_Store
*.fasta
*.mgf
*.log
out_tmp/
post_process/
example_data/
dataset/
result/
uniprot-all.fasta
capercloud.log
